<%= content_for(:right) do %>
<div class="block" id="book">
  <h2>Book Now</h2>
  
</div>

<div class="block" id="times">
  <h2>Dates/Times</h2>
  <p>
  April 12th - 23rd<br />
  9pm every day <strong>except</strong> Mondays and Thursdays
  </p>
  <ul>
  <% Event.all(:order => 'start desc').each do |event| %>
    <li><%= event.start.strftime("%B %d, %I:%M %p") %> 
      <% cutoff_time = (Time.now.to_datetime - 1.hours).to_datetime %>
      <% if(event.start < cutoff_time) %>
        <strong>Closed</strong>
      <% elsif(event.seats_remaining == 0) %>
        <strong>Sold Out!</strong>
      <% else %>
        <%= link_to 'Book Now!', event_register_path(event), :class => 'book-button' %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<div class="block" id="venue">
  <h2>Venue</h2>
  The Order Of Melbourne<br />
  Lvl 2 401 Swanston Street Melbourne<br />
  <p>web: <a href="http://www.theorder.com.au/">http://www.theorder.com.au/</a></p>
  <p>phone: (03) 9663 6707</p>
</div>

<div class="block" id="share">
  <h2>Help promote the show!</h2>
  <a hre="#">Share on Facebook</a><br />
  <a hre="#">Share on Twitter</a>
</div>

<% end %>

<div id="description">
<p>Dark, devious and downright dirty songs and sketches from the mischievous minds of cabaret mistress Karin Muiznieks and repeat offender Nick Caddaye. Relax, pour yourself a wine, and let "Filthy Secrets" tickle your... fancy...</p>
<p>"Filthy Secrets" plumbs the forbidden depths of the human mind - from sensual desire to murderous intent - the thoughts usually hidden and suppressed by civilsed folk. Tonight we tear down the facade of upper-class decency and reveal the raw, animalistic vulgarity behind the pearls and cigars.</p>
<p>From the creators of "The Anarchist Guild Social Committee" and "World War Wonderful" (Green Room nominee: Best Original Songs.)</p>
<p><em>Directed by</em> Scott Gooding.</p>
<p><em>Performed by</em> Karin Muiznieks, Louise McCrae, Luke Hales and Cameron Thomas.</p>
<p class="quote">"Deliciously satisfying... this is indeed something big." - ArtsHub</p>
<p class="quote">"Wicked, witty, tight and tuneful" - The Pun</p>
<p class="quote">"Sexy, sly, articulate... 10/10" - RHUM</p>
<p class="quote">"Is Nick Caddaye the Svengalis of Melbourne Sketch Comedy? He Probably is." - The Groggy Squirrel.</p>
</div>